$white-std: rgba(255, 255, 255, 0.85);

.body-page1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(#1773da, #0a387c);
  width: 100vw;
  overflow-x: hidden;
  color: $white-std;
}
