.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  color: #231656;
  }

.ul-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.li-items {
  padding: 0 2em;
  cursor: pointer;
  color: #231656;

  &:hover {
    font-weight: bold;
  }
}
