.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: transparent;

  .logo-container {
    display: flex;
    align-items: center;
    padding-left: 10rem;
    gap: 0.5rem;

    .logo-image {
      width: 5%;
    }

    .logo-image-name {
      width: 25%;
    }
  }

  .ul-links-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 10rem;

    .li-items-home {
      padding: 0 2em;
      cursor: pointer;
      color: #fff;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
